go 1.21.5

use (
	./chapter01/bytestrings
	./chapter01/csvformat
	./chapter01/filedirs
    ./chapter01/interfaces
    ./chapter01/tempfiles
    ./chapter01/templates
    ./chapter02/ansicolor
    ./chapter02/cmdargs
    ./chapter02/confformat
    ./chapter02/envvar
    ./chapter02/flags
    ./chapter02/pipes
    ./chapter02/signals
    ./chapter03/collections
    ./chapter03/currency
    ./chapter03/dataconv
    ./chapter03/encoding
)
